
.back-type {
    padding: 1.25rem;
    border-radius: 0.625rem;
    border: 0.063rem solid rgb(246,246,246);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.back-type.disabled {
  color: grey;
}

.back-header, .back-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-title, .back-title {
  font-weight: 700;
}

.back-amount {
  font-size: 1rem;
  font-weight: 500;
  color:hsl(176, 50%, 47%)
}

.back-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.back-left, .pledge-left-amount {
  font-size: 1.25rem;
  font-weight: 700;
}

.select-btn {
  padding: 0.625rem 1.25rem;
  background-color: hsl(176, 50%, 47%);
  color: white;
  border-radius: 1.25rem;
  border: none;
  font-weight: 500;
}

.select-btn:hover {
  cursor: pointer;
  background-color: hsl(176, 72%, 28%);
}
.select-btn:disabled {
  background-color: grey;
}

@media screen and (max-width: 950px) { 
  .back-header, .back-footer, .back-type {
      flex-direction: column;
      align-items: start;
      text-align: left;
      gap: 0.625rem;
    }
}