
.success-container {
    position: fixed;
    z-index: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: #2f2f2f5d;
  }
  
  .success-modal {
    align-self: center;
    justify-self: center;
    background-color: #fff;
    position: absolute;
    top: 30vh;
    width: 40%;
    padding: 1.25rem;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    text-align: center;
  }
  
  .success-btn {
    padding: 0.313rem;
    width: 100px;
    height: 50px;
    border-radius: 1.875rem;
    border: none;
    background-color: hsl(176, 50%, 47%);
    color: white;
  }
  
  .success-btn:hover {
    cursor: pointer;
    background-color: hsl(176, 72%, 28%)
  }

  @media screen and (max-width: 950px) { 
    .success-modal {
        width: 90vw;
    }

  }