* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Commissioner', sans-serif;
  font-size: 1rem;
}

html,body{ scroll-behavior: smooth}

body, #root {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background: url('/images/image-hero-desktop.jpg'), rgb(250,250,250);
  background-position: top center;
  background-size: contain; 
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 15%;
  gap: 1.25rem;
  width: 50%;
}

.header-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.intro-section {
  width: 100%;
  position: relative;
  align-self: center;
  border-radius: 0.625rem;
  top: 30%;
  border: 0.063rem solid rgb(246,246,246);
  background-color: white;
  padding: 3.125rem 1.875rem 3.125rem 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-logo {
  position: absolute;
  top: -10%
}

.intro-title {
  margin-bottom: 0.625rem;
  font-size: 1.75rem;
}

.intro-description {
  color: hsl(0, 0%, 48%);
  margin-bottom: 3.125rem;
}

.intro-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.back-prj-btn {
  font-weight: 500;
  width: 200px;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.875rem;
  color: white;
  background-color: hsl(176, 50%, 47%);
}

.back-prj-btn:hover {
  cursor: pointer;
  background-color: hsl(176, 72%, 28%);
}

.bookmark-container {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
}

.bookmark-btn {
  font-weight: 500;
  width: 160px;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0.625rem 1.25rem;
  border-radius: 1.875rem;
  color: hsl(0, 0%, 48%);
  background-color: rgb(244,244,244);
  transition: 0.1s;
}

.bookmark-icon-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.625rem;
  border-radius: 3.125rem;
  background-color: #2F2F2F;

}

.bookmark-icon {
  color: #B1B1B1
}

.bookmark-btn.bookmarked {
  width: 180px;
  color: hsl(176, 72%, 28%);
}

.bookmark-icon-container.bookmarked {
  background-color: hsl(176, 72%, 28%);
  
}

.bookmark-icon-container.bookmarked > i {
  color: white;
}

.bookmark-container:hover {
  cursor: pointer;
}

.bookmark-container:hover .bookmark-icon-container  {
  background-color: hsl(0, 0%, 48%);
}

.bookmark-container:hover .bookmark-btn  {
  color: hsl(0, 0%, 48%);
}

.stats-section {
  width: 100%;
  height: fit-content;
  background-color: white;
  border-radius: 0.625rem;
  padding: 1.875rem;
  border: 0.063rem solid rgb(246,246,246);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  
}

.stats-title {
  font-size: 2rem;
  margin-bottom: 0.313rem;
}

.stats-text {
  color: grey;
}

.stats-divider {
  height: 65px;
  width: 0.063rem;
  background-color: grey;
}

progress {
  width: 100%;
  height: 0.625rem;
  border-radius: 6.25rem;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: rgb(244,244,244);
}
progress::-webkit-progress-value {
  background-color: hsl(176, 50%, 47%);
}

.about-section {
  padding: 1.25rem;
  border-radius: 0.625rem;
  border: 0.063rem solid rgb(246,246,246);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

p {
  color: hsl(0, 0%, 48%);
}

footer, footer > a {
  text-align: center;
  font-size: 0.8rem;
}


@media screen and (max-width: 950px) {
  body, #root {
    background: url('/images/image-hero-mobile.jpg'), rgb(250,250,250);
    background-repeat: no-repeat;
    background-size: contain;
  }
  main {
    width: 100%;
    padding: 1.25rem;
    margin-top: 25vh;
  }

  .bookmark-container  {
    width: fit-content;
  }

  .bookmark-icon-container {
    position: relative;
  }
  
  .bookmark-btn {
    position: absolute;
    visibility: hidden;
  }

  .stats-section, .stats-container {
    flex-direction: column;
    text-align: center;
  }

  .stats-divider {
    height: 0.063rem;
    width: 40%;
    align-self: center;
    margin-block: 1.25rem;
  }

  progress {
    margin-top: 0.625rem;
  }
}